/**{
	outline: 1px solid rgba(205,0,0,0.5);
}*/
#menu{
	text-align: center;
	padding-top: 6%;
	padding-bottom: 2%;
  
}
#menu a{
text-decoration: none;
color: black;
margin-right: 5%;
font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman',  serif;
font-size: 20px;
font-weight: bold;
}

#encabezado{
	/*background: url(../images/land.jpg)  center no-repeat;
	background-size: 100%;*/
	background: -webkit-linear-gradient(rgba(255, 255, 200,0),#4087A3);
		background: linear-gradient(rgba(255, 255, 200,0),#4087A3);
	height: 350px;
	padding-bottom: 4%;
	padding-top: 2%;
	text-align: center;
	
	}
#encabezado h1{
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman',  serif;
font-weight: bold;
padding-top: 2%;
padding-bottom: 2%;
font-size: 60px;
}
 #encabezado h2{
	color: #1BF6F9;
	padding-top: 10%;
}
#contenido{
	background: url(../images/mariposa.jpg) top 50% left no-repeat;
	background-size: 110% 110%;
	padding-bottom: 4%;
	padding-top: 0%;

}
#contenido h1{
	text-align: left;
	padding-top: 4%;
	padding-bottom: 2%;
	font-family: Baskerville, 'Baskerville old face', 'Hoefler Text', Garamond,  'Times New Roman', serif;
	font-weight: bold;
	font-size: 35px;
	color: #1BF6F9;
}
#contenido p{
	padding: 0 4%;
	font-family: Baskerville, 'Baskerville old face', 'Hoefler Text', Garamond,  'Times New Roman', serif;
	font-size: 25px;
	color: white;
}
#contenido img{
	width: 70%;
	border: 2px solid black;
	padding: 2px;

}
#foto{
	text-align: center;
}
#favoritos {
	text-align: center;
	color:#027ABB;

	background: radial-gradient(ellipse, #CBDCF3, rgba(255, 255, 200,0));
}
#favoritos ul{
	overflow-y: auto;
	height:300px;
}
#favoritos h2{
	padding-top: 1%;
	padding-bottom:1%;
}
#favoritos h1{
padding-top: 2%;
padding-bottom: 2%;	
}
#favoritos li {
list-style: none;
display: inline-block;
margin: 4% 3% 4% 3%;


}

#favoritos li div{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 5px double #027ABB;
}
 
 .foto1{
 	background: url(../images/gatos.jpg) center no-repeat;
 	background-size: cover;
 }
 .foto2{
background: url(../images/inter5.png) center no-repeat;
 	background-size: cover;
 }
 .foto3{
background: url(../images/musica.jpg) center no-repeat;
 	background-size: cover;
 }
 .foto4{
background: url(../images/flor.jpg) center no-repeat;
 	background-size: cover;
 }

 #footer{
 	background: url(../images/tile2.png);
 	text-align: center;
 	padding-bottom: 5%;

 }
 #face {
 	overflow-y: auto;
 	height: 180px; 
 }


 #footer li{
 	list-style: none;
 display: inline-block;
 	margin: 2% 3%;
 }
 #footer h1{
 	padding-top: 5%;
 	padding-bottom: 3%;
 	color: #027ABB;
 	font-family: Baskerville, 'Baskerville old face', 'Hoefler Text', Garamond,  'Times New Roman', serif;
    font-weight: bold;
 	font-size: 40px;
 }

#footer li :hover{
transform: scale(1.3);
}
#menu a:hover {
	color:red;
	}
#menu a:visited{color: #027ABB;}	
#menu a:active {color:#A8258D;}

.box-with-text {
  background-image: url(../images/cool.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

/* Other styles */
#encabezado {
  color: #FFF;
}

.box-with-text {
  position: relative;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font: 10vmax/.85 Open Sans, impact;
}
